<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
    <h2>Admin Panel - Login Activity</h2>
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Login Time</th>
        </tr>
        {% for login in logins %}
        <tr>
            <td>{{ login['username'] }}</td>
            <td>{{ login['login_time'] }}</td>
        </tr>
        {% endfor %}
    </table>


    <h2>Admin Panel -Organisation Login Activity</h2>
    <table border="1">
        <tr>
            <th>Organisation-name</th>
            <th>Login Time</th>
        </tr>
        {% for login2 in logins2 %}
        <tr>
            <td>{{ login2['orgname'] }}</td>
            <td>{{ login2['login_time'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
